
 <h3>listado de heroes</h3>

<div *ngIf="deleteHero ; else nothingDeleted">
  <h3>heroe borrado <small class="text-danger"> {{deleteHero}}</small></h3>
</div>


<ng-template #nothingDeleted>
<h3>no ha borrado nada</h3>
</ng-template>

 <button (click)="removeLastHero()" class="btn btn-outline-danger">borrar ultimo hereo</button>
 <ul class="mt-2 list-group">
 <li class="list-group-item">spiderman</li>
 <li class="list-group-item">thor</li>
 <li class="list-group-item">hulk</li>
 <li class="list-group-item">iroman</li>
 </ul>



 <ul class="mt-2 list-group">
  <li *ngFor="let name of heroname" class="list-group-item">{{name}}</li>
 </ul>
